
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shops List</title>
    <link rel="stylesheet" href="/assets/airplane_mode/mycss/style.css">
</head>
<body>
    <h1>Available Shops</h1>
    <!-- <ul>
        {% for shop in frappe.get_all("Shop", fields=["name"]) %}
            <li>
                <a href="/shop/{{ shop.name }}">{{ shop.name }}</a> - {{ shop.location }} ({{ shop.size }})
            </li>
        {% endfor %}
    </ul> -->


     
 {% block content %}

 {% endblock %}

 
</body>
</html>